:root {
  --fontsize-xs: 18px;
  --fontsize-s: 28px;
  --fontsize-m: 48px;
  --fontsize-l: 64px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  /* overflow:hidden ; */
  background-color: black;
}

.experience{ 
  position: fixed;
  top: 0;
  left: 0;
  /* outline:none; */
}
